/*Name:Ayush Bhusal
    Nile ID :17439840*/
body{
  background: #FDF3E7;
  color: #3B3738;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Sanchez', serif;
}

header{
  font-size: 25px;
  color: black
}

ul{
  list-style-type: none;
  background:	#C54127;
  margin: 0; /*margin 0 to remove gap */
  padding: 0;
  position :fixed; /*This may fix the position*/
  width: 100%;
  box-shadow: 0px 5px 10px #888;
  display: flex;
}

.navigationbar ul li {
  width: 10%;
  text-align: center;
}


.button{
  padding: 15%;
  color: white;
  background-color: #C54127;
}

a{
  text-decoration: none;
  background-color: yellow;
}

.button.active{
  background-color: grey;
  color: white;

}

.button:hover {
  background-color: white;
  color: black;
}
section{
  height: 600px;
}

footer{
  background: #7E8F7C;
  color: #3B3738;
  padding :1% 0%;
  font-family: 'Cabin Condensed', sans-serif;
}
footer div{
  text-align: center;
 }

footer h2 {
  font-size: 25px;

}

footer h3 {
  font-size: 20px;

}

.text{
font-size: 20px;
}

footer .formmail {
  width: 20%;
  padding: 1% 1%;
  border: 2px solid #888888;
  border-radius: 5px;
  box-sizing: content-box;
}

input[type = submit]{
  background-color: #0f98c6;
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;/*changes cursor to pointer image */
}

.reserved{
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
}
.social{
  font-size: 30px;
}

.fa {

  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
