/*Name:Ayush Bhusal*/
/*Nile ID :17439840*/
body{
  background-color: lightblue;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

/*Header begins from here*/
header div{
  width: 100%;
  margin: 0;
  padding: 0;
  background:	#03a9f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: white;
}

.navigationbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 10px 15px #888;
}

.logo{
  width:30%;
  padding: 0% 2%;
  transition: transform 1s  ;
  transition-timing-function: ease;
}

.logo:hover{
  transform: scale(1.1,1.1);
}

.tabs ul{
list-style-type: none;
display: flex;
flex-direction: row;
padding:0;
margin: 0;
}

.tabs ul li{
  width: 30%;
  margin: 0;
  text-align: center;
}

.button{
    padding-top: 30%;
  padding-bottom: 15%;
  border-bottom: 5px solid #03a9f4;
  transition: padding 1s ,background-color 1s;
  transition-timing-function: ease;
}

.button:hover{
  background-color: #0288d1;
  color: black;
  padding-top: 30%;
  padding-bottom: 20%;
  border-bottom: 5px solid #1976D2
}

.button:active{
  background-color: white;
  color: black;
  padding-top: 30%;
  padding-bottom: 20%;
  border-bottom: 5px solid #1976D2
}

a{
  text-decoration: none;
  color: white;
}
/*Header ends here*/

/*Section/body begins from here*/
/*
section{
  background-image: url("../images/asd2.jpg");
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
*/
.topic{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  padding: 10%;
}

.topic h2{
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}

.topic h3{
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}
/*home page content starts from here*/
.portrait{
  margin-bottom: 4%;
  margin-top: 10%;
  border: 3px solid white;
  border-radius: 200px;
  transition: border 1s ,transform 1s;
  transition-timing-function: ease;
}

.portrait:hover{
  transform: scale(1.2,1.2);
  border: 6px white solid;
}

.indexmain{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  padding-bottom: 10%;
}

.indexmain h2{
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}

.indexmain h3{
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}

/*contents for contact form begins here*/

.contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1%  10%;
  box-shadow: 0px 5px 20px #888;
  padding: 2% 2%;

}

.sociallinks{
  text-align: center;
  width: 30%;
  font-size: 20px;

}
.vl {
    width:5px;
    background-color:grey;
}
.sendmail{
  text-align: left;
  width: 50%;
}

.sendmail h1{
  font-size: 30px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.sendmail input[type=email] {
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.postbox{
  padding-bottom: 20%;
  font-size: 20px;
}
.bigbox{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
  /*contents for contact form ends here*/

  /*contents for CV begins here*/

  .cvmain{
    margin: 1%  10%;
    box-shadow: 0px 5px 20px #888;
    padding: 2% 2%;
  }
.cvtitle h1{
    font-size: 40px;
    background: #03a9f4;
    padding:2%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white;
     -webkit-text-fill-color: black;
    color: white;
  }
  .portraitmain{
  display: flex;
  flex-direction: row;
  }
  .portraitmain div{
    margin-left: 20%;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white;
     -webkit-text-fill-color: black;
     font-size: 25px;
  }
  .portrait2{
    margin-left: 10%;
    border: 3px white solid;
    border-radius: 150px;
  }
.pagecontent{
  /*padding: 2% 2%;
  margin: 0.5%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
}
.personalinfo , .education , .skills , .language , .hobbies , .experience{
  width: 41%;
  padding: 0% 1.5%;
}
  /*contents for CV ends here*/
/* contents for bio starts here*/
.biofiller{
  margin: 1%  10%;
  box-shadow: 0px 5px 20px #888;
  padding: 2% 2%;
}
.aboutme{
  display: flex;
 flex-direction: column;
 justify-content: space-around;
  padding:5% 15%;
  width: 70%;
  text-align: justify;
}
.aboutme div h1{
  color:red;
  font-size: 25px;
  text-align: center;

}
.aboutme div p{
  padding-bottom: 5%;
  padding: 0% 5%;
}



  /*Section/body ends here*/

/*Footer Portion begins from here*/
footer{
  background: #607d8b;
  color: #212121;
  padding :1% 0%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px -5px 15px #888;
}
footer div{
  text-align: center;
 }

footer h2 {
  font-size: 25px;
}

footer h3 {
  font-size: 20px;
}
footer h4{
  margin: 0;
}

.text{
font-size: 20px;
}

footer .formmail {
  width: 15%;
  padding: 1% 1%;
  border: 2px solid #888888;
  border-radius: 5px;
  box-sizing: content-box;
}

input[type=button], input[type=submit]{
  background-color: #0f98c6;
  color: white;
  padding: 1% 2.5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;/*changes cursor to pointer image */
  transition: transform 1s ,background-color 2s;
  transition-timing-function: ease;
}

input[type=submit]:hover {

    background-color:#0A6A8A;
    transform: scale(1.1,1.1);
}
.reserved{
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
}
.social{
  font-size: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  transition: transform 1s;
  transition-timing-function: ease;
}
.fa:hover {
    opacity: 0.5;
    transform: scale(1.1,1.1);
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/*Footer Portion ends here*/
