/*Name:Ayush Bhusal*/
/*Nile ID :17439840*/
body{
  background-color: lightblue;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

/*Contents for Header begins from here
  All pages have the same header content*/

header div{
  width: 100%;
  margin: 0;
  padding: 0;
  background:	#03a9f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: white;
}

/*Creating a hamburger icon*/
.container {
    position: relative;
    display: flex;
    background-color: #03a9f4;
    flex-direction: row-reverse;
}

.dropbtn {
    background-color: #03a9f4;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #03a9f4;
    min-width: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;``
}

.dropdown-items a:hover {
  background-color: #f1f1f1;
}

.container:hover .dropdown-items {
    display: block;
}

.container:hover .dropbtn {
    background-color: #3e8e41;
}

.navigationbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 10px 15px #888;
}

.logo{
  width:30%;
  padding: 0% 2%;
  transition: transform 1s  ;
  transition-timing-function: ease;
}

.logo:hover{
  transform: scale(1.1,1.1);
}

.tabs ul{
list-style-type: none;
display: flex;
flex-direction: row;
padding:0;
margin: 0;
}

.tabs ul li{
  width: 30%;
  margin: 0;
  text-align: center;
}

.button{
  padding-top: 30%;
  padding-bottom: 15%;
  border-bottom: 5px solid #03a9f4;
  transition: padding 1s ,background-color 1s;
  transition-timing-function: ease;
}

.button:hover{
  background-color: #0288d1;
  color: black;
  padding-top: 30%;
  padding-bottom: 20%;
  border-bottom: 5px solid #1976D2
}

.button:active{
  background-color: white;
  color: black;
  padding-top: 30%;
  padding-bottom: 20%;
  border-bottom: 5px solid #1976D2
}

a{
  text-decoration: none;
  color: white;
}

/*Contents for Header ends here*/

/*Index page contents begins from here*/
.indexmain{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  padding-bottom: 10%;
}

.indexmain h2{
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}

.indexmain h3{
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}
/*This is my portrait pic*/
.portrait{
  margin-bottom: 4%;
  margin-top: 10%;
  border: 3px solid white;
  border-radius: 200px;
  transition: border 1s ,transform 1s;
  transition-timing-function: ease;
}

.portrait:hover{
  transform: scale(1.2,1.2);
  border: 6px white solid;
}
/*Index page contents ends from here*/

/*Title for Contact and bio is stlized here*/
.topic{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  padding: 10%;
}

.topic h2{
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}

.topic h3{
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   -webkit-text-fill-color: black;
   margin: 0;
}

.maincontent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1%  10%;
  box-shadow: 0px 5px 20px #888;
  padding: 2% 2%;
}
/*Contact page contents begins from here*/

.sociallinks{
  text-align: center;
  width: 30%;
  font-size: 20px;
}

/*Creating a vertical line*/
.vl {
    width:5px;
    background-color:grey;
}

.sendmail{
  text-align: left;
  width: 50%;
}

.sendmail h1{
  font-size: 30px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.sendmail input[type=email] {
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.postbox{
  padding-bottom: 20%;
  font-size: 20px;
}

.bigbox{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
/*Contact page contents ends here*/

/*CV page contents begins from here*/
.cvmain{
    margin: 1%  10%;
    box-shadow: 0px 5px 20px #888;
    padding: 2% 2%;
  }

.cvtitle h1{
    font-size: 40px;
    background: #03a9f4;
    padding:2%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white;
     -webkit-text-fill-color: black;
    color: white;
}

.portraitmain{
  display: flex;
  flex-direction: row;
}

.portraitmain div{
    margin-left: 20%;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white;
     -webkit-text-fill-color: black;
     font-size: 25px;
}

.portrait2{
    margin-left: 10%;
    border: 3px white solid;
    border-radius: 150px;
}

.pagecontent{
  /*padding: 2% 2%;
  margin: 0.5%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
}

/*Distancing items*/
.personalinfo , .education , .skills , .language , .hobbies , .experience{
  width: 41%;
  padding: 0% 1.5%;
}
/*CV page contents ends here*/
/* contents for bio starts here*/
.aboutme{
  display: flex;
 flex-direction: column;
 justify-content: space-around;
  padding:5% 15%;
  width: 70%;
  text-align: justify;
}
.aboutme div h1{
  color:black;
  font-size: 25px;
  text-align: center;

}
.aboutme div p{
  padding-bottom: 5%;
  padding: 0% 5%;
}

/*Footer contents begins from here*/
footer{
  background: #607d8b;
  color: #212121;
  padding :1% 0%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px -5px 15px #888;
}

footer div{
  text-align: center;
 }

footer h2 {
  font-size: 25px;
}

footer h3 {
  font-size: 20px;
}
footer h4{
  margin: 0;
}

.text{
font-size: 20px;
}

footer .formmail {
  width: 15%;
  padding: 1% 1%;
  border: 2px solid #888888;
  border-radius: 5px;
  box-sizing: content-box;
}

input[type=button], input[type=submit]{
  background-color: #0f98c6;
  color: white;
  padding: 1% 2.5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;/*changes cursor to pointer image */
  transition: transform 1s ,background-color 2s;
  transition-timing-function: ease;
}

input[type=submit]:hover {

    background-color:#0A6A8A;
    transform: scale(1.1,1.1);
}

.reserved{
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
}

.social{
  font-size: 30px;
}
/*Social media buttons--learnt from htttps://www.w3schools.com*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  transition: transform 1s;
  transition-timing-function: ease;
}

.fa:hover {
    opacity: 0.5;
    transform: scale(1.1,1.1);
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*Footer contents ends from here*/
/*Media queries to make mobile responsive*/
/*Used when width greater than 800*/
@media (min-width: 801px) {
.container{
  display: none;
}
.portraitmain{
  display: flex;
  flex-direction: row;
}
.pagecontent{
  display: flex;
  flex-direction: row;
}
}
/*Used when width greater than 400 but less than 800*/
@media (max-width: 800px) and (min-width:400px) {
.tabs{
  display: none;
}
.portraitmain{
  display: flex;
  flex-direction: column;
}
.pagecontent{
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin:0;
}
.personalinfo , .education , .skills , .language , .hobbies , .experience{
  padding: 0% 1.5%;
  width: 100%;
}
.portraitmain div{
    margin-left: 5%;
    align-items: center;
    font-size: 25px;
}
.vl{
  display: none;
}
.maincontent{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0% 0%;
    margin: 1%  0%;
}
.sociallinks{
  padding: 0% 40%;
}
.sendmail{
  width:80%;
  padding: 10%;
}
.portrait{
  transform: scale(0.7,0.7);
}
}

/*Used when width is less than 400*/
@media (max-width: 399px) {
.cvmain{
    margin: 0%  0%;
    box-shadow: 0px 5px 20px #888;
    padding: 2% 2%;
  }
  .tabs{
    display: none;
  }
  .portraitmain{
    display: flex;
    flex-direction: column;
  }
  .pagecontent{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin:0;
  }
  .personalinfo , .education , .skills , .language , .hobbies , .experience{
    padding: 0% 1.5%;
    width: 100%;
  }
  .portraitmain div{
      margin-left: 5%;
      align-items: center;
      font-size: 25px;
  }
  .vl{
    display: none;
  }
  .maincontent{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0% 0%;
      margin: 1%  0%;
  }
    .sociallinks{
      padding: 0% 20%;
  }
    .sendmail{
      width:80%;
      padding: 10%;
  }
}
